&share
 wrf_core = 'ARW',
 max_dom = 3,
 start_date = '(START_DATE)','(START_DATE)','(START_DATE)','(START_DATE)',
 end_date   = '(END_DATE)','(END_DATE)','(END_DATE)','(END_DATE)',
 interval_seconds = 21600
 io_form_geogrid = 2,
/

&geogrid
 parent_id         =   1,   1,   2,
 parent_grid_ratio =   1,   5,   5,
 i_parent_start    =   1,  5,   5,
 j_parent_start    =   1,  20,  5
 e_we              =  74, 81,   66
 e_sn              =  61,  71,  66
 geog_data_res     = '2m','30s', '30s'
 dx = 2500,
 dy = 2500,
 map_proj = 'lambert',
 ref_lat   =  33.00,
 ref_lon   = 133.00,
 truelat1  =  20.0,
 truelat2  =  40.0,
 stand_lon = 133.0,
 geog_data_path = '/home/senooken/model/WRF/geog'
/

&ungrib
 out_format = 'WPS',
 prefix = 'FILE',
/

&metgrid
 fg_name = 'FILE'
 io_form_metgrid = 2, 
/
